
@import "tailwindcss";


@font-face {
    font-family: 'MontserratBlack';
    src: url('/montserrat.black.ttf');
}
@font-face {
    font-family: 'MontserratMedium';
    src: url('/montserrat.medium.ttf');
}
@font-face {
    font-family: 'MontserratLight';
    src: url('/montserrat.light.ttf');
}

:root {
    --background: #ffffff;
    --foreground: #0a0a0a;
    --font-black: "MontserratBlack";
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

body {
    font-family: "MontserratMedium";
    background: var(--background);
    color: var(--foreground);
    
    font-size: small;
    
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
}
